<wesite-navigation-bar></wesite-navigation-bar>
<style>
    .btn-margin {
        margin-left: 20px;
    }
</style>
<div class="row " style="margin-top:90px ;">
    <div class="col-md-5 active"style="position:fixed;">

        <div class="row p-5" >
            <div class="col-md-12  bg-muted p-5"
                style=" box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                <h6 class="mb-4">Book Domestic and International Holidays</h6>
               
                <div class="row mt-3 ">

                    <div class="col-md-6 text-start">
                        <p class="text-secondary fw-bold">Dapart From<br>
                            <span class="text-dark fw-bold" style="font-size:17px ;"> 
                                <select class="form-control mt-2" formControlName="fromAirportRefId">
                                    <option value="" >Choose from Airport</option>
                                    <!-- <option *ngFor="let cty of CityData" [ngValue]="cty">
                                        {{cty.cityName}}
                                    </option> -->
                                  </select> 
                            </span><br>
                        </p>
                        <!-- <hr> -->
                    </div>
                    <div class="col-md-6 text-end">
                        <p class="text-secondary fw-bold">Going To<br>
                            <span class="text-dark fw-bold" style="font-size:17px ;"> 
                                <span class="text-dark fw-bold" style="font-size:17px ;"> 
                                    <select class="form-control mt-2" formControlName="fromAirportRefId">
                                        <option value="" disabled>Choose from Airport</option>
                                        <!-- <option *ngFor="let cty of CityData" [ngValue]="cty">
                                            {{cty.cityName}}
                                        </option> -->
                                      </select> 
                                </span>
                            </span><br>
                        </p>
                        <!-- <hr> -->
                    </div>
                    <!-- <div class="col-md-6 text-start">
                        <p class="text-secondary fw-bold">Daparture Date<br>
                            <span class="text-dark fw-bold" style="font-size:17px ;">
                            <input type="date" class="form-control" name="">
                            </span><br>
                            <span>Monday</span> -->
                        <!-- </p>
                        <hr>
                    </div>
                    <div class="col-md-6 text-end">
                        <p class="text-secondary mt-3 ">return date<br>
                            <span class="text-primary fw-bold" style="font-size:17px ;"> Book Round</span><br>
                            <span class="text-primary">to save extra</span>
                        </p>
                        <hr>
                    </div> --> 
                                     
                    <div class="col-md-6 ">
                        <button class="btn btn-primary p-3 float-start" style="width: 150px;">Check refund</button>
                    </div>
                    <div class="col-md-6 ">
                        <button class="btn btn-danger p-3 float-end" routerLink="/app-flight-search" style="width: 150px;">Search Holiday</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 p-5" style="position:absolute;left:700px">
        <div class="row">
            <div class="col-md-12 p-5">
                <h2 class="text-danger">Yatra Holidays</h2>
                <h5>Book Domestic and International Holidays</h5>
                <p class="" style="font-size:13px;">

                    
                    
                    Yatra is one of India's leading online travel portals, offering holiday packages in India and abroad. Yatra offers value for money packages, luxury packages, group departures as well as customized packages.
                    
                    Yatra was one of the first aggregators of holiday packages and since 2015 it has provided a forum for agents and holiday package sellers to sell their packages directly on the Yatra website. This has enabled Yatra to give a wide range of holiday packages including niche and exotic packages to its customers, while providing localised services.
                </p>
            </div>
            <div class="col-md-12 p-5">
               <img src="assets\images\ad.jpg" class="w-100" style="height:100px;">
            </div>
            <div class="col-md-12 p-5">
                <h2 class="text-danger"> Yatra Holidays offers</h2>
            
                <p style="font-size:13px;">
                   
If it is  you are scouting for, you are going to find plenty on Yatra. At any time of the year you will come across exciting discounts and promo code offers encouraging you to seal your bus booking. This includes long weekend, festive season as well as high-season offers that typically come with a coupon code and an attractive flat discount on your bus booking. From year-end sale to eCash redemption opportunities, there are some deals that let you avail up to 16% off on your bus booking on applying the promo code YTBUS.
                </p>
            </div>
            <div class="col-md-12 p-5">
                <img src="assets\images\footer.jpg" class="w-100" style="height:300px;">
             </div>
            

        </div>
    </div>
</div>
