<wesite-navigation-bar></wesite-navigation-bar>


<div class="row" style="margin-top:120px ;">
    <div class="col-md-12">
        <img src="\assets\images\visa-yatra.jpg" class="w-100 shadow" style="max-height:350px;">
    </div>
    <div class="col-md-12 p-5">
        <div class="row">
            <div class="col-md-4 shadow  p-5 mt-5" style="background-color:rgb(195, 219, 195) ;">
                <h5 class="alert alert-danger">Popular Visa Destinations</h5>
                <li class="text-muted" > Dubai Visa</li>
                <li class="text-muted" >UK Visa</li>
                <li class="text-muted" >USA Visa</li>
                <li class="text-muted" >Singapore Visa</li>
                <li class="text-muted" >Qatar Visa</li>
                <li class="text-muted" >Thailand Visa</li>
                <li class="text-muted" >Sri Lanka Visa</li>
                <li class="text-muted" >Turkey Visa</li>
                <li class="text-muted" >Malaysia Visa</li>
                <li class="text-muted" >Hong Kong Visa</li>
                <li class="text-muted" >Vietnam Visa</li>
                <li class="text-muted" >Denmark Visa</li>
                <li class="text-muted" >New Zealand Visa</li>
<hr>

                <h5 class="mt-5 alert alert-danger"> Popular Visa Types</h5>
                <li class="text-muted" >96 Hours Dubai Visa</li>
                <li class="text-muted" >14 Days Dubai Visa</li>
                <li class="text-muted" >30 Days Dubai Visa</li>
                <li class="text-muted" >90 Days Dubai Visa</li>
                <li class="text-muted" >Thailand Business Visa</li>
                <li class="text-muted" >Thailand Tourist Visa</li>
                <li class="text-muted" >Sri Lanka Business Visa</li>
                <li class="text-muted" >Sri Lanka Tourist Visa</li>
                <li class="text-muted" >Turkey Business Visa</li>
                <li class="text-muted" >Turkey Tourist Visa</li>
                <li class="text-muted" >Visa At Your Doorstep</li>
                <li class="text-muted" >Uk Visa At Your Doorstep</li>
            </div>

            <div class="col-md-8 shadow p-5" style="background-color: rgba(236, 226, 226, 0.356);">
                <h6 class="p-3 alert alert-danger">Applying for a Visa Online</h6>
                <p class="p-5 " style="font-size:13px ;background-color: antiquewhite;">
                    No longer do you have to queue at the Indian Visa Application Center (IVAC) to get the Visa
                    forms and then fill them up and once more drop them back in the same office. Life is much more
                    simpler with the advent of an online visa application process where you can apply visa online to
                    your chosen country of travel with the necessary information regarding your visa processing and
                    subsequently your interview dates online. In case you are not able to complete the visa
                    application online form, you can still save your application and return to it at a later time to
                    complete the form. Once your visa online application is submitted, the form is then verified for
                    its authenticity and also to check if any document is not appropriate. Depending on that you may
                    be asked to re-upload your visa application. Typically, a mail regarding re-upload is sent to
                    you within 24 hours of receiving your online visa form.</p>


                <h6 class="p-3 alert alert-danger">Tourist E Visa with Yatra.com</h6>
                <p class="p-5 " style="font-size:13px ;background-color: antiquewhite;">
                    To apply for an E Visa you need to complete the application form online and pay the visa
                    processing charges using your credit card or e-wallet. You only have to deal directly with us
                    with no embassy visits involved. Of course, the application process involves submission of all
                    the necessary documents as mandated by the ministry of the country you are visiting. You end up
                    saving your valuable time as your e-visa is emailed to you. Now all you need to do is present
                    your passport and the visa document upon entering your destination country. Typically, the
                    documents required for applying include the applicant's photograph, details will be mentioned in
                    your visa application form, scanned passport personal detail page and last page of the passport.
                    The e-visa validity option can range from 30 days double entry, 1 year multiple entries to 5
                    year multiple entries.

                    With Yatra you can now book a ticket to any international destination of your choice and you
                    will be supported through the visa application process - from readying up your documents to
                    going for the actual visa interview. Some of the countries offering visa-on-arrival to Indian
                    citizens include Dubai, Thailand, Maldives, Bhutan, Cambodia, Indonesia and Sri Lanka.</p>


                <h6 class="p-3 alert alert-danger">Types of Visa</h6>
                <p class="p-5 " style="font-size:13px ;background-color: antiquewhite;">
                    Here's defining the various categories of visa depending on your purpose of visit.
                    Single Entry Visa : A single entry visa is valid for only one visit to the destination country.
                    Whatever the purpose of your visit, you shall be eligible for just one entry through the
                    validity of your visa. For instance your visa validity date has not expired but you have already
                    visited the country once, you shall still not qualify for another trip to the said country.

                    Multiple Entry Visa : This entitles you to multiple visits to the country through your visa's
                    validity tenure. This means you can re-enter the country several times without applying for a
                    fresh visa as long as your within the validity tenure of your visa. Multiple entry visas are
                    largely preferred by businessmen for they can never be certain of the number of visits it might
                    take to close a business deal.

                    Tourist Visa : This kind of visa is allocated to tourists alone when the purpose of your visit
                    is travelling only and not engaging in any form of commerce. When you plan on a holiday to a
                    foreign location solo or with your family, you will be applying for a tourist visa. It is still
                    easier to get such visas. Other than the requisite documents, you need to provide a proof of
                    your hotel stays and return flight tickets aside from showing a certain specified amount in your
                    bank account to ensure to the local authorities that you will be in charge of yourself during
                    your visit to their country.

                    Residence Visa : While a residence visa doesn't give you the permit to take up employment in a
                    given country, it entitles you to stay for an extended period of time in a particular country. A
                    residence permit or a residence visa is given to a foreign national to stay for an extended
                    though definite period of time. In many cases, a person may have family residing in a foreign
                    country and by applying for a residence visa you can stay with them for a prolonged duration,
                    several months on end. Of course, it does not entitle you to seek any sort of employment in the
                    foreign country in the interim.

                    Work Visa : A work permit visa entitles you to take up residence as well as employment for a
                    definite period in a given foreign country. You could either be hired for a specific period of
                    time from 6 months to 1 year, depending on your contract, to perform a job in a foreign country
                    offering you the subsequent right to take up residence in the interim. But in case your stay is
                    prolonged, you need to apply for renewal of your work permit visa. Several Indian companies have
                    tie-ups abroad with their counterparts, and you could be send to accomplish a task to the said
                    foreign country for a specific period of time under a work permit visa.

                    Student Visa : A student visa is issued to students enrolled at qualified educational institutes
                    world wide. These are non-immigrant visa that does not require its holder to acquire
                    citizenship. Any student with the prospect of attaining higher education in a foreign country
                    needs to get a student visa from that country. Though most countries issue student visa to
                    foreign students to let them attend school within their territory, students still need to
                    primarily enroll at a post-secondary institute for higher learning. So, for instance, you need
                    to go to the United States to study, you would require a student visa as well as a non-immigrant
                    visa for temporary stay or an immigrant visa for permanent residence.

                    Transit Visa : For those people who wish to transit through Australia shall not qualify for a
                    transit without a transit visa. You need a transit visa even if you fly out of the same airport
                    in which you arrived and on the same aircraft. You need a transit visa even if you remain in the
                    transit lounge and do not leave the airport. A transit visa in case of Australia allows you a
                    maximum stay of 72 hours. A transit visa is very different from a 3-day visitor visa. A transit
                    visa establishes the principal purpose of visit of the applicant before transiting to another
                    country through theirs. The support documents needed to get a transit visa comprise an income
                    proof, employment proof, evidence of travel outside the said country, among other related
                    documents.</p>
            </div>
        </div>
    </div>
</div>