<!-- <p>Airline works!</p> -->
<master-navbar></master-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5">
      <!-- <img src="assets\images\h1.jfif" class="d-block w-100" height="220px" alt="AAAAAAAAAAAA"> -->
      <h3 class=" tbl-ttl-clr p-3">View All Airline List<span class="float-end"><button type="button"
            class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
            Add New Airline
          </button></span></h3>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered ">
        <tr class="tbl-hd-clr">
          <th>Sr.No</th>
          <th>Name</th>
          <!-- <th>ShortName</th> -->
          <th>Logo</th>
          <th>Address</th>
          <th> city name</th>
          <!-- <th>PinCode</th> -->
          <th>Telephone1</th>
          <th>Telephone2</th>
          <th>Email1</th>
          <th>Email2</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let row of Airlinedata">
          <td>{{row.airlineId}}</td>
          <td>{{row.airlineName}}</td>
          <!-- <td>{{row.airlineShortName}}</td> -->
          <td><img src="assets\images\{{row.airlineLogo}}" class="" style="height:70px ;width:70px;"></td>
          <td>{{row.airlineAddress}}</td>
          <td>{{row.city.cityName}}</td>
          <!-- <td>{{row.airlinePinCode}}</td> -->
          <td>{{row.airlineTelephone1}}</td>
          <td>{{row.airlineTelephone2}}</td>
          <td>{{row.airlineEmail1}}</td>
          <td>{{row.airlineEmail2}}</td>
          <td>
            <button class="btn btn-outline-info" (click)="GetByAirlinesID(row)" type="button" data-bs-toggle="modal"
              data-bs-target="#myModal">Edit</button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteAirlinesDeatils(row)" type="button">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content " style="width:1000px;margin-left:-230px;">
      <div class="modal-body  p-2">
        <button type="button" class="btn-close float-end mt-3"
          style="margin-right: 10px; height:30px ;width: 30px;background-color: red;" data-bs-dismiss="modal"></button>
        <div class="container-fluid border border-warning">
          <div class="row p-5 ">
            <div class="col-md-12">
              <h4 class="text-info p-3" *ngIf="FormId==0" style="background-color:black;">Add New Airline</h4>
              <h4 class="text-info p-3" *ngIf="FormId!=0" style="background-color:black;">Update Airline record
              </h4>
            </div>
            <div class="col-md-12 ">
              <hr>
              <form class="row" [formGroup]="formValue">
                <div class="col-md-8">
                  <input type="hidden" [id]="FormId" *ngIf="FormId!=0" formControlName="AirlineId">
                  <label class="mt-3 fw-bold" fw-bold>Airline Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineName"
                    placeholder="Airline Name" required>
                </div>
                <div class="col-md-4">
                  <label class="mt-3 fw-bold">Airline Short Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineShortName"
                    placeholder="Airline Short Name" required>
                </div>
                <div class="col-3">
                  <label class="mt-3 fw-bold">Airline Logo <span class="text-danger">*</span></label>
                  <input type="file" class="form-control border border-warning" (change)="onSelectFile($event)"
                    formControlName="airlineLogo" required>
                </div>
                <div class="col-md-7">
                  <label class="mt-3 fw-bold">City Name <span class="text-danger">*</span></label>
                  <select class="form-control border border-warning" formControlName="cityRefId">
                    <option value="" disabled>Choose your profile</option>
                    <option *ngFor="let cty of CityData" [ngValue]="cty">
                      {{cty.cityName}}
                    </option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label class="mt-3 fw-bold">Pin Code <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border border-warning" formControlName="airlinePinCode"
                    placeholder="Airline Pin Code" required>
                </div>
                <div class="col-12">
                  <label class="mt-3 fw-bold">Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineAddress"
                    placeholder="Airline Address" required>
                </div>
                <div class="col-md-3">
                  <label class="mt-3 fw-bold">Telephone 1 <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineTelephone1"
                    placeholder="Airline Telephone 1" required>
                </div>
                <div class="col-md-3">
                  <label class="mt-3 fw-bold">Telephone 2 </label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineTelephone2"
                    placeholder="Airline Telephone 2" required>
                </div>
                <div class="col-md-3">
                  <label class="mt-3 fw-bold">Email 1 <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineEmail1"
                    placeholder="Airline Email 1" required>
                </div>
                <div class="col-md-3">
                  <label class="mt-3 fw-bold">Email 2</label>
                  <input type="text" class="form-control border border-warning" formControlName="airlineEmail2"
                    placeholder="Airline Email 2" required>
                </div>
                <div class="col-12 m-3">
                  <button class="btn btn-danger mt-3" *ngIf="FormId==0" (click)="postAirlinesDetails()"
                    type="submit">Add Airlines</button>
                  <button class="btn btn-danger mt-3" *ngIf="FormId!=0" (click)="updateAirlinesDetails()"
                    type="submit">Update Airlines</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
    