.text-dark {
    color: black;
}

label {
    margin: 0px;
    padding: 0px;
}

/* table title color */
.tbl-ttl-clr {
    color: #39c48f;
    background-color: black;
}

/* table heading color */
.tbl-hd-clr {
    background: #39c48f;
}

/* flight search card */
.crd {
    border: 1px solid rgb(38, 74, 56);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    padding-top: 15px;
}

/* flight search card hover effect */
.crd:hover {
    border: 2px solid rgb(57, 220, 49);
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 15px;
}

/* hotel search card */
.hotelCard {
    border: 1px solid rgb(222, 218, 218);
    margin-bottom: 10px;
    padding: 20px;
}

/* hotel search card hover effect */
.hotelCard:hover {
    border: 1px solid rgb(181, 242, 107);
    margin-bottom: 10px;
    padding: 25px;
    background-color: rgb(227, 238, 235);
}

/* table details <td> tag */
td {
    padding: 10px;
}

/* table details <body> tag */
body {
    font-family: "Lato", sans-serif;
}

/* side navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #a09a9a;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    width: 100%;
    /* margin-left: px; */
}

.sidenav .closebtn:hover {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    /* margin-left: 50px; */
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}